*.iml
*.DS_Store
.gradle
.idea/
.metadata
.packages
README.md
build
ios/Flutter/flutter_export_environment.sh
java.txt
tree
android/app/release/
/android/local.properties
/yzapp.iml
/tree
/README.md
/java.txt
/.packages
/.metadata
/pubspec.lock
/.flutter-plugins
.android
.ios